<!-- <!DOCTYPE html>
<html>
<head>
    <title>Items List</title>
</head>
<body>

<h1>Available Items</h1>

Search Box 
<form method="GET" action="{{ url_for('menu') }}">
    <input type="text" name="search" placeholder="Search item...">
    <button type="submit">Search</button>
</form>

<tbody>
{% for item in items %}
<tr>
<td>{{ item.name }}</td>
<td>₹{{ item.price }}</td>

<td>
<input type="number" name="quantity_{{ item.id }}" min="0" value="0">
</td>

<td>
<a href="{{ url_for('update_item', id=item.id) }}" class="btn btn-warning btn-sm">Update</a>

</td>

</tr>
{% endfor %}
</tbody>

{% if items %}
<ul>
    {% for item in items %}
        <li>{{ item.name }} - ₹{{ item.price }}</li>
    {% endfor %}
</ul>
{% else %}
<p style="color:red;">No items found</p>
{% endif %}

</body>
</html> -->



<!DOCTYPE html>
<html>
<head>
<title>Items List</title>
</head>

<body>

<h1>Available Items</h1>

<form method="GET" action="{{ url_for('menu') }}">
<input type="text" name="search" placeholder="Search item...">
<button type="submit">Search</button>
</form>

<table border="1">

<thead>
<tr>
<th>Item</th>
<th>Price</th>
<th>Quantity</th>
<th>Action</th>
</tr>
</thead>
<tbody>
{% for item in items %}
<tr>

<td>{{ item.name }}</td>

<td>₹{{ item.price }}</td>

<td>
<input type="number" name="quantity_{{ item.id }}" 
class="form-control w-50 mx-auto" 
min="0" 
value="0">
</td>

<td>
<a href="{{ url_for('update_item', id=item.id) }}" 
class="btn btn-warning btn-sm">
✏ Update Price
</a>
</td>

</tr>
{% endfor %}
</tbody>

</table>

{% if not items %}
<p style="color:red;">No items found</p>
{% endif %}

</body>
</html>